.inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.sec {
    padding: 120px 0;
}

.title {
    max-width: 1200px;
    margin: 0 auto 32px auto;
    padding: 0 15px;
}

.title h2 {
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 22px 0;
}

.title p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}





.Header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;

    transition: 0.5s;

    line-height: 80px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.Header.on {
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.header_wrap {
    display: flex;
    justify-content: space-between;
    padding: 0 120px;
}

.gnb>ul {
    display: flex;
}

.gnb>ul>li>a {
    display: block;
    padding: 0 24px;
    color: #fff;
    font-size: 20px;
}

.Header.on .gnb>ul>li>a {
    color: #333;
}

.gnb>ul>li {
    position: relative;
}

.gnb>ul>li .sub {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    background: #fff;
    width: 150px;
    line-height: 40px;
    border: 4px solid #ddd;

    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.gnb>ul>li:hover .sub {
    top: 70px;
    opacity: 1;
    visibility: visible;
}

.gnb>ul>li .sub li~li {
    border-top: 1px solid #ddd;
}

.gnb>ul>li .sub a {
    display: block;
    padding: 0 24px;
}

.Header .utils a {
    color: #fff;
    font-size: 20px;
    margin: 0 4px;
}

.Header.on .utils a {
    color: #333;
}

.MainVisual .VisualSlide .itm {
    position: relative;
    height: 700px;
}

.MainVisual .VisualSlide .itm::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: 0.3;
}

.MainVisual .VisualSlide .itm01 {
    background: url(../images/m01.jpg) no-repeat center center/cover;
}

.MainVisual .VisualSlide .itm02 {
    background: url(../images/m02.jpg) no-repeat center center/cover;
}

.MainVisual .VisualSlide .itm03 {
    background: url(../images/m03.jpg) no-repeat center center/cover;
}

.MainVisual .VisualSlide .slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1200px;
    width: 100%;
}

.MainVisual .VisualSlide .slogan strong {
    display: block;
    margin: 0 0 22px 0;
    font-size: 40px;
    font-weight: 700;
    text-shadow: 0 0 1px #000;
    color: #fff;
}

.MainVisual .VisualSlide .slogan p {
    font-size: 18px;
    text-shadow: 0 0 1px #000;
    color: #fff;
    line-height: 22px;
}


.MainVisual .VisualSlide .slick-dots {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 1200px;
    width: 100%;

}

.MainVisual .VisualSlide .slick-dots li {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 4px;
    background: #fff;
    margin: 0 10px 0 0;
    border-radius: 2px;
    overflow: hidden;
}

.MainVisual .VisualSlide .slick-dots li::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    background: #f00;
}

.MainVisual .VisualSlide .slick-dots li.slick-active::after {
    width: 100%;
    transition: 3s;
}

.MainVisual .VisualSlide .slick-dots li button {
    display: none;
}

.MainFrancuise .inner {
    display: flex;
    gap: 30px;
}

.MainFrancuise .inner>* {
    flex: 1;
    background: #f9f9f9;
    padding: 0 0 32px 0;
    border-radius: 10px;
    overflow: hidden;
}

.MainFrancuise .img_box {
    margin: 0 0 24px 0;
}

.MainFrancuise .itm {
    position: relative;
}

.MainFrancuise .itm a::after {
    content: "더보기";
    position: absolute;
    top: 100px;
    right: 24px;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    background: #f00;
    color: #fff;
    border-radius: 50%;
}


.MainFrancuise .itm h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 21px 0;
    padding: 0 24px;
}

.MainFrancuise .itm p {
    font-size: 14px;
    line-height: 20px;
    padding: 0 24px;
}

.MainBanner {
    position: relative;
    background: url(../images/m01.jpg) no-repeat fixed center center/cover;
}

.MainBanner::before {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
}

.MainBanner .title {
    position: relative;
    margin: 0 auto 0 auto;
    color: #fff;
    text-overflow: 0 0 2px #000;
}

.MainFranchiseOrder {}

.MainFranchiseOrder .inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.MainFranchiseOrder .inner>* {
    padding: 32px 24px;
    background: #f9f9f9;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.MainFranchiseOrder .odr {
    position: relative;
}

.MainFranchiseOrder .odr h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 22px 0;
}

.MainFranchiseOrder .odr p {
    font-size: 16px;
    line-height: 20px;
}

.MainFranchiseOrder .odr::after {
    content: attr(data-num);
    position: absolute;
    top: 0;
    right: 24px;

    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: #f00;
    color: #fff;
    border-radius: 50%;

    transform: translate(0, -20px);
}

.MainFranchiseOrder .odr h3::before {
    content: attr(data-step);
    display: block;
    margin: 0 0 8px 0;
    color: #f00;
    font-size: 14px;
}

.Footer {
    padding: 80px 0;
    background: #333;
    color: #ddd;
}

.Footer .inner {
    display: flex;
    justify-content: space-between;
}

.Footer .link {
    display: flex;
    gap: 40px;
    margin: 0 0 24px 0;
}

.Footer .link li {
    position: relative;
}

.Footer .link li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translate(0, -50%);
    width: 1px;
    height: 12px;
    background: #666;
}

.Footer .company {
    margin: 0 0 24px 0;
}

.Footer .company li {
    display: inline-block;
    margin: 0 18px 4px 0;
    font-size: 14px;
}

.Footer .customer {
    white-space: nowrap;
}

.Footer .customer .tel i {
    padding: 8px;
    background: #000;
    border-radius: 50%;
    color: #fff;
    font-size: 32px;
    margin: 0 16px 0 0;
}

.Footer .customer .tel span {
    font-size: 32px;
    font-weight: 900;
}


.totop {
    position: fixed;
    bottom: 100px;
    right: -100px;
    background: transparent;
    border: none;

    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}

.totop.on {
    right: 100px;
    visibility: visible;
    opacity: 1;
}

.totop i {
    padding: 16px;
    background: #f00;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}